GenerateMusicNoderedFlow.json
[{"id":"f72483c6.d90a5","type":"tab","label":"Music Generation Bot","disabled":false,"info":""},{"id":"9f8c820d.1a37","type":"telegram receiver","z":"f72483c6.d90a5","name":"","bot":"d10d037.454b8","saveDataDir":"","x":240,"y":440,"wires":[["2b6945f2.da383a"],[]]},{"id":"64d4a8b4.4c16d8","type":"telegram sender","z":"f72483c6.d90a5","name":"","bot":"d10d037.454b8","x":1200,"y":440,"wires":[[]]},{"id":"b6bf549c.1747c8","type":"watson-conversation-v1","z":"f72483c6.d90a5","name":"","workspaceid":"a08db4c6-e485-44f3-882c-7d5cb2c4e9f0","multiuser":false,"context":true,"empty-payload":false,"default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/assistant/api","timeout":"","optout-learning":false,"x":440,"y":440,"wires":[["a8cc866a.8ce738","5f9bc355.955cfc","5e5963b5.f011ac"]]},{"id":"2b6945f2.da383a","type":"function","z":"f72483c6.d90a5","name":"b4 assistant","func":"context.global.set(\"chatId\", msg.payload.chatId);\n\nmsg.chatId = msg.payload.chatId;\nmsg.payload = msg.payload.content;\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":380,"wires":[["b6bf549c.1747c8"]]},{"id":"a8cc866a.8ce738","type":"function","z":"f72483c6.d90a5","name":"b4 telegram","func":"if(typeof msg.payload.output !== 'undefined')\n{\n    msg.payload = {\n        chatId:context.global.get(\"chatId\"),\n        type: \"message\",\n        content:msg.payload.output.text[0]\n    };\n}\nelse\n{\n    msg.payload = {\n        chatId:context.global.get(\"chatId\"),\n        type: \"message\",\n        content:JSON.stringify(msg.payload)\n    };\n}\nreturn msg;","outputs":1,"noerr":0,"x":850,"y":440,"wires":[["64d4a8b4.4c16d8"]]},{"id":"5f9bc355.955cfc","type":"debug","z":"f72483c6.d90a5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":550,"y":380,"wires":[]},{"id":"e030c253.44235","type":"inject","z":"f72483c6.d90a5","name":"Clear Context","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":790,"y":300,"wires":[["3015bb05.808c14"]]},{"id":"3015bb05.808c14","type":"function","z":"f72483c6.d90a5","name":"Clear Context Var","func":"msg.payload = \"hi\";\nmsg.params = {\n    context : {}\n};\nreturn msg;","outputs":1,"noerr":0,"x":1000,"y":300,"wires":[["94c78e8a.3077f"]]},{"id":"94c78e8a.3077f","type":"watson-conversation-v1","z":"f72483c6.d90a5","name":"Assistant ","workspaceid":"a08db4c6-e485-44f3-882c-7d5cb2c4e9f0","multiuser":false,"context":true,"empty-payload":false,"default-endpoint":false,"service-endpoint":"","timeout":"","optout-learning":false,"x":1180,"y":300,"wires":[[]]},{"id":"65cb2c9d.187f14","type":"debug","z":"f72483c6.d90a5","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":710,"y":500,"wires":[]},{"id":"9e34711b.21f19","type":"cos-get","z":"f72483c6.d90a5","name":"","bucket":"mozart","objectname":"output_mz_50.mid","mode":"0","filepath":"","filename":"","geturl":false,"cosconfig":"7b41b093.5f83","x":520,"y":540,"wires":[["65cb2c9d.187f14","edff483b.7931e8"]]},{"id":"5db6fca5.8b3b04","type":"function","z":"f72483c6.d90a5","name":"Send as Audio","func":"msg.payload = {\n        chatId:context.global.get(\"chatId\"),\n        type: \"audio\",\n        content:msg.filepath\n};\nreturn msg;","outputs":1,"noerr":0,"x":980,"y":540,"wires":[["64d4a8b4.4c16d8","386cec6b.97c774"]]},{"id":"edff483b.7931e8","type":"function","z":"f72483c6.d90a5","name":"parse cos object path","func":"msg.filepath = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":780,"y":540,"wires":[["5db6fca5.8b3b04"]]},{"id":"5e5963b5.f011ac","type":"switch","z":"f72483c6.d90a5","name":"","property":"payload.context.composer","propertyType":"msg","rules":[{"t":"eq","v":"Mozart","vt":"str"},{"t":"eq","v":"Beethoven","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":230,"y":540,"wires":[["9e34711b.21f19"],["94f1218c.35a2b"]]},{"id":"94f1218c.35a2b","type":"cos-get","z":"f72483c6.d90a5","name":"","bucket":"beethoven1","objectname":"output_beeth_40.mid","mode":"0","filepath":"","filename":"","geturl":false,"cosconfig":"7b41b093.5f83","x":510,"y":600,"wires":[["edff483b.7931e8"]]},{"id":"386cec6b.97c774","type":"link out","z":"f72483c6.d90a5","name":"","links":["a7d04fbf.eb509"],"x":1115,"y":540,"wires":[]},{"id":"a7d04fbf.eb509","type":"link in","z":"f72483c6.d90a5","name":"","links":["386cec6b.97c774"],"x":835,"y":340,"wires":[["3015bb05.808c14"]]},{"id":"d10d037.454b8","type":"telegram bot","z":"","botname":"musicgenerationbot","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"verboselogging":false},{"id":"7b41b093.5f83","type":"cos-config","z":"","apiKeyId":"L9zbfH-6T-1mmzhdxEIzSscrzssOqNi6Sv1rgQZaZ7Nh","location":"eu-gb","ibmAuthEndpoint":"https://iam.ng.bluemix.net/oidc/token","endpoint":"s3.eu-gb.objectstorage.softlayer.net","serviceInstanceId":"crn:v1:bluemix:public:cloud-object-storage:global:a/47b84451ab70b94737518f7640a9ee42:643714be-635b-46c9-9ad2-e24a06194ad9::","hmac":false,"accesskeyid":"","accesskey":"","name":"emre-Cloud Object Storage"}]